.header {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #FFF;
  box-shadow: 0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32), 0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);

}

.header__container {
  display: flex;
  align-items: center;
  gap: 53px;
}

.logo {
  width: 50px;
  height: 50px;
}


@media (max-width: 767.1px) {
  .header__container {
    gap: 30px;
  }
}
